.idea/*                                                                                                                 .idea                                                                                                                   *.exe                                                                                                                   conf/* 
main
vendor/*
static/*
logs/*
