<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
        <title>注册</title>
        <!-- 引入 FrozenUI -->
        <link rel="stylesheet" href="http://i.gtimg.cn/vipstyle/frozenui/2.0.0/css/frozen.css"/>
    </head>
    <body>
        <div class="ui-form ui-border-t">
            <form action="">
                <div class="ui-form-item ui-border-b">
                    <label>
                        用户名：
                    </label>
                    <input type="text" >
                    
                </div>
                <div class="ui-form-item ui-border-b">
                    <label>
                        请填密码:
                    </label>
                    <input type="text" placeholder="8位起字母加数字">
                </div>
                <div class="ui-form-item ui-border-b">
                    <label>
                        确认密码:
                    </label>
                    <input type="text" placeholder="两次要一致">
                </div>
                <div class="ui-form-item ui-border-b">
                    <label>
                        邮箱：
                    </label>
                    <input type="text" placeholder="非必填，用于找回密码">
                </div>
                <div class="ui-btn-wrap">
                    <button class="ui-btn-lg ui-btn-primary">
                        注册
                    </button>
                </div>
            </form>
        </div>
        <footer class="ui-footer ui-footer-btn">
            <ul class="ui-tiled ui-border-t">
                <li data-href="index.html" class="ui-border-r"><div>去登录</div></li>
            </ul>
        </footer>
    </body>
</html>