<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
        <title>列表</title>
        <!-- 引入 FrozenUI -->
        <link rel="stylesheet" href="http://i.gtimg.cn/vipstyle/frozenui/2.0.0/css/frozen.css"/>
    </head>
    <body>
        <header class="ui-header ui-header-positive ui-border-b">
            <h1>列表</h1>
        </header>
        <section class="ui-container">
            <div class="ui-form ui-border-t">
                <ul class="ui-list ui-border-tb">
                    <li>
                        <div class=" ui-list-img-vertical">
                            <span style="background-image:url(http://placeholder.qiniudn.com/216x308)"></span>
                        </div>
                        <div class="ui-list-info ui-border-t">
                            <h4 class="ui-nowrap">这是标题，加ui-nowrap可以超出长度截断</h4>
                            <p class="ui-nowrap">这是内容，加ui-nowrap可以超出长度截断</p>
                        </div>
                    </li>
                    <li>
                        <div class="ui-list-img-vertical">
                            <span style="background-image:url(http://placeholder.qiniudn.com/216x308)"></span>
                        </div>
                        <div class="ui-list-info ui-border-t">
                            <h4>标题标题标题标题标题标题标题标题标题标题标题</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        
        <footer class="ui-footer ui-footer-btn">
            <ul class="ui-tiled ui-border-t">
                <li data-href="index.html" class="ui-border-r"><div>城市</div></li>
                <li data-href="ui.html" class="ui-border-r"><div>分类</div></li>
                <li data-href="js.html"><div>登录/注册</div></li>
            </ul>
        </footer>
    </body>
</html>